

<div style="background-color:yellow;
 width:40%; position: absolute;
 left:30%; right:40%; height:400px">
     
    <div *ngIf=" operator=='' && value1!==''">
    <input type="text"  value="{{value1}}" (input)="setvalue1($event)" >

    </div>
    
    <div *ngIf="operator!='' && eq_opr!='='">
    <input type="text" value={{value2}} (input)="setvalue2($event)">
    </div>
    

     <div *ngIf="eq_opr=='='">
      <input type="text"  value={{sum}}>
    </div>
    
        
    <div>
        <button *ngFor="let i of ['1','2','3']" (click)="setvalue(i)">{{i}}</button></div>
     <div><button *ngFor="let i of ['4','5','6']" (click)="setvalue(i)">{{i}}</button></div>
        <button *ngFor="let i of ['7','8','9']" (click)="setvalue(i)">{{i}}</button>
        <div>
        <button *ngFor="let o of ['+','-','*','/','=']" (click)="setoperator(o)">{{o}}</button><br>
        
    </div>
    
    </div>
    
 









  <!-- <div *ngIf="operator==''">
  <input type="text" name="" id="" value={{value1}} (input)="value1=$event.target.value" >
  </div>
  <div *ngIf="value1!='' && operator!=''">
  <input type="text" value={{value2}} (input)="value2=$event.target.value">
  </div>
  <button (click)="add(operator)">add</button>
<div>
    <input type="text" name="" id="" value="{{result}}">
</div> --> -->


  

        <!-- <div *ngIf="operator=='' "> 
    val1 <input type="text" value={{value1}} (input)="value1=$event.target.value">
     </div>
     
      <div *ngIf="value1!==''  && operator!==''"> 
    val2 <input type="text" value={{value2}}  (input)="value1=$event.target.value" >
    
      </div>
      <div>
     <button (click)="add(operator)">+</button><br>

     <input type="number"  value={{sum}}><br>
</div> 
 -->

     
     
<!-- <div>
     <button
       *ngFor="let number1 of numbers1"(click)="setNumber(number1)" >{{number1}} 
     </button><br></div>
    <div>
      <button *ngFor="let number2 of numbers2"(click)="setNumber(number2)" >{{number2}} 
     </button><br></div>
     <div><button
       *ngFor="let number3 of numbers3" (click)="setOperators(number3)">{{number3}}
     </button><br></div>

    </div>

   -->
