
/* .blueenabled{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
.bluedisabled{
    color: grey;
    font-size: 30px;
}
/* .green{
color:green
} */
/* .yello{
    color:yellow
} */
.red{
    color: red;
}
.pink{
    color:pink
}


 
