<p>test works!</p>
<ul>
    <li *ngFor="let name of name">{{name}}</li>
</ul>

<!-- <select>
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="yello">yellow</option>
    <option value="green">green</option>
</select> -->


 <!-- <select name="" id="">
    <option value="" *ngFor="let color of colors">{{color}}</option>
</select> --> 
<!-- <select (change)="color=$event.target.value">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="yellow">yellow</option>
    <option value="green">green</option>   
</select>
{{color}} -->
<!-- <select (change)="color=$event.target.value">
    <option value="red">red</option>
    <option value="pink">blue</option>
      <option value="yellow">yellow</option>
    <option value="green">green</option>     
</select>
{{color}}

<div> [ngClass]="[col1, col2]"> Helloo HAII...</div>

<div> [ngClass]="{'red':true, 'pink':false}" HELLOOO </div>




 

 -->
