<p>product works!</p>

<form action="" (ngSubmit)="save()" #myform=ngForm>
    <div><label for="">product id</label></div><br>
    <div>
        <input type="text" name="pid" value="" class="form-control" minlength="1" required [(ngModel)]="model.pid" #pid="ngModel" id="">
    </div><br>
    <div *ngIf="pid.invalid && (pid.dirty || pid.untouched)" 
    class="alert alert-danger">
    product id is invalid....

    </div>
    <div><label for="">product name</label></div><br>
    <div>
        <input type="text" name="pname" value="" class="form-control" minlength="3" required [(ngModel)]="model.pname" #pname="ngModel" id="">
    </div><br>
    <div *ngIf="pid.invalid && (pname.dirty || pname.untouched)"
    class="alert alert-danger">
     product name is invalid
    </div>
    <div><label for="">product price</label></div><br>
    <div>
        <input type="number" name="pprice" value="" class="form-control" minlength="1" required [(ngModel)]="model.pprice" #pprice="ngModel" id="">
    </div><br>
    <div *ngIf="pprice.invalid && (pprice.dirty || pprice.untouched)"
    class="alert alert-danger">
     product price is invalid
    </div>
    <div><label for="">product description</label></div><br>
    <div>
        <input type="text" name="pdes" value="" class="form-control" minlength="3" required [(ngModel)]="model.pdes" #pdes="ngModel" id="">
    </div><br>
    <div *ngIf="pdes.invalid && (pdes.dirty || pdes.untouched)"
    class="alert alert-danger">
    product description is invalid
    </div>

    <input type="submit"[disabled]="!myform.form.valid" value="login">

</form>
